MONGO_URI=mongodb+srv://barsa486823_db_user:virtualartgallery@cluster0.e7jv2xt.mongodb.net/?appName=Cluster0
JWT_SECRET=verysecretkey123
PORT=5000

CLOUDINARY_CLOUD_NAME='ds9y77wgw'
CLOUDINARY_API_KEY='589215623949523'
CLOUDINARY_API_SECRET=GiadlKxYQkwQvLqFQOxxndYcog4
